<p> 
  Money is not our motivation! We want to      create a more compassionate world for animals.

  Kind Burgers proudly donates 100% of our net profits to support the animals at Ching Farm Animal Rescue and Sanctuary in Herriman, Utah. It's like you get to save an animal TWICE! It feels good to vote for the kind of world you want to live in with your dollar. :)

  We also take pride in being a very green business. Our kitchen is all electric and powered by clean solar energy from the sun. Combined with having a nimimal waste mindset in our daily operations, we might even be THE greenest eatery in Utah!
</p>