<div class="donation-container container-fluid">
      <h1 id='call-to-action'> Save the Cows, eat a guilt-free burger.</h1>
  <div class="call-to-action-container container-fuild">


    <div id="donate-menu-buttons">

      <div><%= link_to "Donate", root_path %> </div>
      <div><%= link_to "Menu", root_path %> </div>
    </div>
  </div>

</div>