/*
 *= require jquery-ui
  */

  // prince: #604860 #604860 KB #8a275d,: #b0d76c: #b0d76c

 @import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Walter+Turncoat');


body {
  position:relative;
  font-family: "Walter Turncoat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rock Salt", sans-serif;
}
.container-fluid, .container {
  width: 100%;
  padding: 0px;

}



// social media test

#social-media {
  background-color:transparent;
 
}
 // nav bar

 #navbar{
  background: linear-gradient(#d2d2d2cc, transparent);
  display:inline-block;
  position:fixed;
  color: white;
  font-size: 1.5em;
  width: 100%;
 }



 #navbar ul {
  display:flex;
  list-style-type: none;
 }

 #ul-nav-menu {
  float: right;
  margin: 10px 40px 10px 0px;
 }

 #ul-logo {
  float: left;
  padding: 0;
  margin: 0;
  margin-left: 30px;
 }


 #navbar li {
  margin: 10px;
  padding: 5px;
 }


// Home Page

#logo {
  width: 100px;
  height: auto;
}

.cover-slider-container {
  background-image: url("burger.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0;
  background-size:cover;
  width: 100%;
  height: 700px;

}

// parallax testing

.parallax-filler {
  background-image: url("burger.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0;
  background-size: cover;
  width: 100%;
  margin: 0;
  height: 400px;

}

#about-container, #home-images-container, #contact-container, #email-collector-container {
  width: 100%;
  // background-color: #604860;
  height: 500px;
  background: linear-gradient(to right, #604860, #6f536f, #604860);
}

// end parallax testing

// menu

#burger-header, #fries-header, #desserts-header {
  color:white;
  width: fit-content;
  height: fit-content;
  display:flex;
  flex-wrap:wrap;
  margin: 30px;
}
.menu-container  {
  display:flex; 
  flex-flow:wrap;
  justify-content:center;
  background-image: url('chalkboard.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  height: auto;
  padding: 30px;
}


#burgers-container, #fries-container, #desserts-container {
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center;
}

.menu-item {
  display: flex;
  flex-wrap: inherit;
  padding: 20px;
  list-style-type: none;
  flex-direction: row;

}


.menu-item li {
  width: fit-content;
  height: fit-content;
  color: white;
}


.menu-name {
  margin-right: 35px;

}

.menu-name, .menu-price {
  font-family: "Rock Salt", sans-serif;
  font-size: 1.3em;
  text-shadow: 0px 2px 2px black;
  color: #604860;

}


.card div {
  display: flex;
  flex-wrap: wrap;

}
.card {
  width: 300px;
  padding: 10px;
  margin: 10px;
  background-color: transparent;
  border:none;
}

.row {
  padding:20px;
}

.about-container {
  background-color: #b0d76c;
  background:cover;
  height: 400px;
}
.home-images-container {
  background-color: #604860;
  background:cover;
  height: 400px;
}

.contact-container {
  background-color: #b0d76c;
  background:cover;
  height: 400px;
}
.email-collector-container {
  background-color: #604860;
  background:cover;
  height: 400px;
}

// Test Login Page

.admin-button-container, {
 display: flex;
 align-items: center;
 justify-content: center;
}

.admin-button {
  max-width: 50%;
}
// end of test login page

// donation page

.donation-container {
  background-image: url('cow.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0;
  background-size:cover;
  height: 800px;
  color:white;


}
#call-to-action {
  padding-top: 70px;
  text-align:center;

}
.call-to-action-container {
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  text-align: center;
  color:white;
}

#donate-menu-buttons {
 
  display:flex;
  flex-wrap:flex;
  font-size:2em;
 
}

#donate-menu-buttons div {
  margin-top: 400px;
  margin-left: 20px;
  margin-right: 20px;
}
#donate-menu-buttons a {
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color:#b0d76c;
  border-radius: 2px;
  width: 150px;
  color:#b0d76c;
  background-color: #00000096;
}

#donate-menu-buttons a:hover {
  background-color: #4B384C;
  color:#c6c9ca;
  border-color: #c6c9ca;
  text-decoration:none;
  font-style:none;
}










